@charset "UTF-8";

html {
    font-family: sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxygen', sans-serif;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.title {
    font-size: 2rem;
    text-transform: uppercase;
    color: #652e78;
}

.btn-default {
    display: inline-block;
    padding: 1em 2.5em;
    background: #58c4c4;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.btn-default:hover {
    background: #37a0a0;
}

.top-header {
    text-align: center;
}

.top-header-logo {
    margin: .8rem;
}

.top-header-nav {
    background: #612674;
    text-align: center;
}

.top-header-nav ul {
    margin: 0;
    padding: 0;
    list-style: none; 
}

.top-header-nav a {
    color: white;
    text-decoration: none;
    padding: 1.6rem;
    display: block;
}

.top-header-nav a:hover {
    background: #7c3792;
}

.top-content {
    padding: 1.6rem;
    text-align: center;
    background: #f6f6f6;
}

.top-content-title {
    color: #612674;
    font-size: 2.2rem;
    margin: 2.2rem;
}

.top-content-subtitle {
    color: #a87bb7;
    font-size: 1.6rem;
    line-height: 1.5;
}

.middle-content {
    padding: 3.2rem;
    background: #f6f6f6;
    text-align: center;
}

.middle-content p {
    line-height: 1.5;
    color: #222;
}

.middle-content-card i{
    color: #652e78;
    font-size: 5rem;
}

.main-content {
    padding: 3.2rem;
}

.main-content-article {
    margin-bottom: 5.2rem;
    line-height: 1.2;
}

.main-content-title {
    letter-spacing: .32rem;
    font-weight: normal;
}

.footer {
    text-align: center;
    background-color: #25303e;
    color: #83969f;
    padding-bottom: 2rem;
}

.footer-menushare {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    font-size: 2rem;
    background-color: #303d4c;
    padding: 1rem;
}

.footer-menushare li i {
    color: white;
}

.footer-menushare li i:hover {
    color: rgba(255, 255, 255, 0.589);
}


